# $c_P(T)$ Data Generation for Selected Substances

## Imports

In [1]:
using DataFrames

In [2]:
using CSV

In [3]:
using PyCall

In [4]:
CP = pyimport("CoolProp.CoolProp")

PyObject <module 'CoolProp.CoolProp' from '/usr/lib/python3.8/site-packages/CoolProp/CoolProp.cpython-38-x86_64-linux-gnu.so'>

## Generate Data

In [5]:
df = DataFrame(
    T=Float64[],
    He=Float64[],
    H₂=Float64[],
    ar=Float64[],
    O₂=Float64[],
    H₂O=Float64[],
    CO₂=Float64[],
)

0×7 DataFrame

In [6]:
function dRow(T::Float64; P::Float64 = 1.0)
    FL = ("He", "H2", "air", "O2", "H2O", "CO2")
    tuple(T, (CP.PropsSI("CPMOLAR", "P", P, "T", T, fl) for fl in FL)...)
end

dRow (generic function with 1 method)

### $275\mbox{K} \leqslant T \leqslant 325\mbox{K}$

In [7]:
for T in 275.0:5.0:325.0
    push!(df, dRow(T))
end

In [8]:
last(df, 5)

5×7 DataFrame
│ Row │ T       │ He      │ H₂      │ ar      │ O₂      │ H₂O     │ CO₂     │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 305.0   │ 20.7861 │ 28.881  │ 29.1111 │ 29.4104 │ 33.619  │ 37.4529 │
│ 2   │ 310.0   │ 20.7861 │ 28.9122 │ 29.119  │ 29.4371 │ 33.6433 │ 37.678  │
│ 3   │ 315.0   │ 20.7861 │ 28.9409 │ 29.1273 │ 29.4651 │ 33.6688 │ 37.9008 │
│ 4   │ 320.0   │ 20.7861 │ 28.9673 │ 29.1361 │ 29.4942 │ 33.6955 │ 38.1212 │
│ 5   │ 325.0   │ 20.7861 │ 28.9917 │ 29.1454 │ 29.5247 │ 33.7233 │ 38.3392 │

### $325\mbox{K} < T \leqslant 800\mbox{K}$

In [9]:
for T in 350.0:25.0:800.0
    push!(df, dRow(T))
end

In [10]:
last(df, 5)

5×7 DataFrame
│ Row │ T       │ He      │ H₂      │ ar      │ O₂      │ H₂O     │ CO₂     │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 700.0   │ 20.7861 │ 29.4594 │ 31.1306 │ 32.9852 │ 37.4955 │ 49.5703 │
│ 2   │ 725.0   │ 20.7861 │ 29.5018 │ 31.3051 │ 33.1865 │ 37.7972 │ 50.0697 │
│ 3   │ 750.0   │ 20.7861 │ 29.5482 │ 31.4785 │ 33.3789 │ 38.1023 │ 50.5471 │
│ 4   │ 775.0   │ 20.7861 │ 29.5985 │ 31.6501 │ 33.5627 │ 38.4104 │ 51.0036 │
│ 5   │ 800.0   │ 20.7861 │ 29.6528 │ 31.8193 │ 33.738  │ 38.7214 │ 51.44   │

### $800\mbox{K} < T \leqslant 3000\mbox{K}$

In [11]:
for T in 900.0:100.0:3000.0
    push!(df, dRow(T))
end

In [12]:
last(df, 5)

5×7 DataFrame
│ Row │ T       │ He      │ H₂      │ ar      │ O₂      │ H₂O     │ CO₂     │
│     │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │ Float64 │
├─────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
│ 1   │ 2600.0  │ 20.7861 │ 36.1877 │ 37.0764 │ 39.061  │ 54.263  │ 61.5035 │
│ 2   │ 2700.0  │ 20.7861 │ 36.426  │ 37.1915 │ 39.2583 │ 54.6466 │ 61.6396 │
│ 3   │ 2800.0  │ 20.7861 │ 36.6482 │ 37.3005 │ 39.4497 │ 55.0023 │ 61.7632 │
│ 4   │ 2900.0  │ 20.7861 │ 36.8554 │ 37.4039 │ 39.6348 │ 55.333  │ 61.8759 │
│ 5   │ 3000.0  │ 20.7861 │ 37.0487 │ 37.5024 │ 39.8136 │ 55.6409 │ 61.9788 │

## Save Data

In [13]:
CSV.write("A0304-pt-CP(T).csv", df)

"A0304-pt-CP(T).csv"